
/* Home styling */
.pathly-home-body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.pathly-destinations-body {
    width: 90%;
    height: fit-content;
    border-radius: 20px;
    border: 1px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 0.5rem;
}

.pathly-start-body {
    width: 90%;
    height: 3rem;
    margin-top: 1.5rem;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    padding-left: 1rem;
    gap: 0.5rem
}

.pathly-start-input {
    width: 80%;
    height: 80%;
    border: 0px;
}

.pathly-start-input:focus {
    outline: 0;
}


.pathly-locations-body {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.location-markers {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

.ring-container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.ring-add-container {
    width: 90%;
    height: fit-content;
    display: flex;
    justify-content: left;
    align-items: start;
}

.ring {
    width: 1rem;
    height: 1rem;
    border: 3px solid #4A90E2; /* ring color */
    border-radius: 50%;
    background-color: white;
    position: relative;
  }
  
.ring-container:not(:nth-last-child(1))::after {
    content: "";
    position: absolute;
    top: 100%;
    width: 1rem;
    height: 2px;
    background-color: #4A90E2;
    transform: rotate(90deg); 
}
/* 
.ring-add-container {
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
} */

.ring-add {
    width: 1rem;
    height: 1rem;
    border: 3px solid #64d673; /* ring color */
    border-radius: 50%;
    background-color: white;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
.location-body {
    width: 90%;
    height: 2rem;
    display: flex;
    flex-direction: row;
}

.location-name-body {
    width: 90%;
    height: 100%;
    display: flex;
    flex-direction: column;

}

.individual-location-body {
    width: 100%;
    height: 4rem;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 0.5rem;
}

.individual-location-search {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border-bottom: 1px solid rgb(212, 209, 209);
}

.individual-location-transport {
    width: 100%;
    height: 50%;
    display: flex;
}

.individual-location-cancel {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    cursor: pointer;
}

.start-location-body {
    width: 90%;
    height: 3rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
}

.transport-select-body {
    width: 30%;
    min-width: 6rem;
    height: 90%;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    cursor: pointer;
    position: relative;
}

.transport-icon {
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0.5rem;
}

.transport-name {
    margin: 0;
    margin-top: 2px;
    color: gray;
}

.transport-dropdown-icon {
    position: absolute;
    width: fit-content;
    height: 100%;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transport-dropdown-body {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    height: fit-content;
    z-index: 99;
    border-radius: 10px;
    border: 1px solid rgb(207, 207, 207);
    overflow: hidden;
}

.transport-option-body {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
