.pathly-body {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pathly-travel-body {
    width: 40%;
    height: 90%;
    background-color: rgb(255, 255, 255);
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
}

