.expanded-location-body {
    width: 100%;
    height: 100%;
    padding-bottom: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    gap: 2rem;
}

.expanded-location-back{
    position: absolute;
    top: 1rem;
    right: 1rem;
    cursor: pointer;
}

.expanded-location-destination {
    width: 90%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.expanded-location-destination h1, p {
    margin: 0;
}

.expanded-location-travel {
    width: 90%;
    height: fit-content;
    display: flex;
}

.travel-instruction-left-body {
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 100%;
    align-items: center;
    gap: 0.5rem;
}

.expanded-location-travel-instructions {
    width: 90%;
    height: fit-content;
    max-height: 50%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    position: relative;
    padding-top: 0.5rem;
}

.travel-instruction-body {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;
    font-size: 0.9rem;
}

.travel-instruction-time {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    color: rgb(62, 138, 189);
    font-size: 0.9rem;
}

@media (min-width: 800px) {
    .expanded-location-travel-instructions {
        max-height: 100%;
    }
    .travel-instruction-time {
        font-size: 1rem;
    }
    .travel-instruction-body {
        font-size: 1rem;
    }
}


.travel-instruction-icon {
    height: 100%;
    width: 1.5rem;
}

.transit-display {
    width: fit-content;
    height: fit-content;
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.travel-instruction-duration {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(62, 138, 189);
}

.travel-instruction-timestamp {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
}