.pathly-body {
    width: 90%;
    height: 90%;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pathly-travel-body {
    width: 50%;
    height: 90%;
    background-color: transparent;
    z-index: 11;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 350px;
}


.pathly-map-outer-body {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1100px) {
    .pathly-travel-body {
        width: 60%;
    }
    .pathly-map-outer-body {
      width: 40%;
    }
  }

@media (max-width: 800px) {
    .pathly-body {
        flex-direction: column;
        overflow-y: scroll;
    }
    .pathly-travel-body {
        width: 80%;
        height: 80%;
    }
    .pathly-map-outer-body{
        width: 100%;
        height: 400px;
    }
  }

  ::-webkit-scrollbar {
    width: 8px;           /* width of the vertical scrollbar */
    height: 8px;          /* height of the horizontal scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;   /* make track transparent for minimal look */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3); /* semi-transparent thumb */
    border-radius: 4px;                    /* rounded corners */
    border: 2px solid transparent;         /* padding around thumb */
    background-clip: content-box;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5); /* darker on hover */
  }
  
