.return-location-body {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
}

.return-location-outer {
    width: 90%;
    height: fit-content;
    display: flex;
    margin-bottom: 0.5rem;
    box-sizing: border-box;
    padding: 10px;
}

.return-location {
    height: 2rem;
    width: 80%;
    display: flex;
    align-items: center;
    text-wrap-mode: nowrap;
    overflow-x: hidden;
}

.ring.return {
    border: 3px solid var(--secondary);
}

.ring-line-container.return {
    background-color: var(--secondary);
}

.return-transit-times-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}